.button {
    display: inline-block;
    width: 326px;
    height: 56px;
    border: 1px solid$yellow;
    background: $yellow;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;

    font-family: "work-sans";
    font-weight: bolder;
    text-decoration: none;
}
